.row{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap
}

  .eventsCard:first-child {
    font-weight: bold;
  }

  div.row > div {
    background-color:whitesmoke;

  }

  .eventsCard:first-child > div.eventsBody {
    background-color: lightblue;
  }

  .createEventButton {
    display: flex;
    justify-content: space-evenly;
    margin: 0 0 10px 0;
  }



